* {
    box-sizing: border-box; 
    margin: 0;
    padding: 0; 
}

.search-container input {
    width: 500px;
    height: 50px;
    padding: 10px 15px;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    outline: none;
}

.search-container input{
    font-size: large;
}

input::placeholder {
    color: rgb(0, 0, 0);
}

input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
  display: none;
}

